<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="HR_Orange_Test">
    <classes>
      <class name="com.selenium.Orange_login"/>
      <class name="com.selenium.Recruitment"/>
      <class name="com.selenium.AllinONE"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
